#navbar {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid rgba(128, 128, 128, 0.27);
}

.navbar_link {
    position: relative;
    color: gray;
    transition: 0.4s;
}

.navbar_text:hover+.navbar_line {
    width: 100%;
    transition: 0.2s;
    border: 1px solid teal;
    bottom: -9px;
}

.navbar_link:hover {
    color: black;
}

.navbar_line {
    position: absolute;
}

#responsive_menu {
    z-index: 1000;
    position: absolute;
    top: 40px;
    width: 100vw;
    align-items: flex-start;
}

#nav_burger {
    display: none;
}

#nav_profile {
    position: relative;
    right:50px
}

#nav_profile_child {
    line-height: 35px;
    position: absolute;
    background-color: white;
    width: 100%;
    border: 1px solid red;
    padding: 5px;
    bottom: -95px;
    border-radius: 7px;
    text-align: center;
    width: 120px;
    right: -40px;    
}



@media screen and (max-width:480px) {}

@media screen and (max-width:768px) {

    #nav_button_container {
        display: none;
    }

    #nav_profile {
        display: none;
    }

    #nav_burger {
        display: block;
    }


}