#signup-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 365px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    margin-top: 5vh;
    padding: 60px;
}

#signup-form-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5px;
    border-radius: 8px;
    color: white;
    box-shadow: rgba(192, 191, 191, 0.661) 0px 22px 70px 4px;
    background-image: linear-gradient(black, white);
}

#register-button:hover {
    bottom: 10px;
}